appdirs==1.4.4
bidict==0.22.1
blinker==1.6.2
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
confluent-kafka==2.2.0
dominate==2.8.0
Flask==2.3.3
Flask-Bootstrap==3.3.7.1
frozendict==2.3.8
html5lib==1.1
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
lxml==4.9.3
MarkupSafe==2.1.3
plotly==5.16.1
pytz==2023.3.post1
requests==2.31.0
six==1.16.0
soupsieve==2.5
tenacity==8.2.3
tzdata==2023.3
urllib3==2.0.4
visitor==0.1.3
webencodings==0.5.1
Werkzeug==2.3.7
yfinance==0.2.28
